* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Akkurat Pro", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  background-color: #072340;
}

.header-container {
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  text-decoration: none;
}

nav li {
  padding: 0.5rem;
  margin-left: 1.5rem;
}

.sub-menu a,
nav a {
  font-size: 1rem;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: rgb(11, 178, 65);
}

.current-page {
  border-bottom: 1.5px solid rgb(11, 178, 65);
}

.sub-menu .current-page {
  color: rgb(11, 178, 65);
}

.heading {
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.sub-menu ul {
  list-style: none;
  display: flex;
}

.sub-menu li:last-child {
  margin-left: auto;
  margin-right: 0;
}

.sub-menu li {
  padding: 0.5rem 0;
  margin-right: 1.5rem;
}

.sub-menu a:hover,
.sub-menu a:focus {
  color: rgb(11, 178, 65);
}

.body-content {
  width: 90%;
  margin: 0 auto;
}

.body-content h3 {
  margin: 1rem 0;
  font-size: 1.25rem;
}

.comparison-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comparison-left {
  padding: 1rem;
  width: 50%;
  background-color: #e6f4ec;
  border: 1px solid #e6f4ec;
  border-radius: 5px 0px 0px 5px;
}

.comparison-left .para1 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.comparison-left .para2 {
  color: blue;
  font-size: 1rem;
  font-weight: bold;
}

.comparison-right {
  padding: 1rem;
  width: 50%;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  border-radius: 0px 5px 5px 0;
}

.vs {
  border: 1px solid blue;
  border-radius: 50%;
  padding: 0.75rem;
  color: #fff;
  background-color: blue;
  position: absolute;
  left: 48%;
}

.comparison-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 1.3rem;
  padding: 0.75rem 0.5rem;
  width: 90%;
  margin-left: 1rem;
}

.chart-filter {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}

.currency ul,
.range ul {
  display: flex;
  list-style: none;
}

.currency li {
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.range li {
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.currency a,
.range a {
  color: grey;
  cursor: pointer;
}

.range .selected-range,
.currency .selected-currency {
  background-color: grey;
  color: #fff;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0.5rem;
}

.chart-text {
  font-size: 0.75rem;
  padding: 0.5rem 0;
}

footer {
  font-size: 0.5rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  padding: 0.2rem;
}
