<!DOCTYPE HTML>
<html>

<head>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>

<body>

    <div id="chartContainer" style="height: 300px; width: 90%; margin:0 auto;">
    </div>

    <script type="text/javascript">
        var json_data1 = JSON.parse('{{ dp1 | tojson | safe}}');
        var json_data2 = JSON.parse('{{ dp2 | tojson | safe}}');
        var dp1 = json_data1['data']
        var dp2 = json_data2['data']
        var title = "Stock comparison"
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer",
                {
                    zoomEnabled: true,
                    animationEnabled: true,
                    title: {
                        text: title
                    },
                    axisX: {
                        valueFormatString: "DD MMM YY"
                    },
                    axisY: {
                        includeZero: false
                    },
                    data: [
                        {
                            type: "line",
                            showInLegend: true,
                            legendText: json_data1['title'],
                            xValueType: "dateTime",
                            dataPoints: dp1
                        },
                        {
                            type: "line",
                            showInLegend: true,
                            legendText: json_data2['title'],
                            xValueType: "dateTime",
                            dataPoints: dp2
                        }
                    ]
                });
            chart.render();
        };
    </script>
</body>

</html>